src/main/mule/123trans.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:bti="http://www.mulesoft.org/schema/mule/ee/bti" xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core"
	xmlns:db="http://www.mulesoft.org/schema/mule/db"
	xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/db http://www.mulesoft.org/schema/mule/db/current/mule-db.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd
http://www.mulesoft.org/schema/mule/ee/bti http://www.mulesoft.org/schema/mule/ee/bti/current/mule-bti-ee.xsd">
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="5434cbae-318c-4c4d-8959-cf6459800e10" >
		<http:listener-connection host="0.0.0.0" port="8081" />
	</http:listener-config>
	<db:config name="Database_Config" doc:name="Database Config" doc:id="13c484ce-3d20-4dcb-bce0-ab450a7c84a9" >
		<db:my-sql-connection host="sql12.freesqldatabase.com" port="3306" user="sql12665353" password="FurwR1tLgM" database="sql12665353" />
	</db:config>
	<db:config name="Database_Config1" doc:name="Database Config" doc:id="b843c7e1-f7a5-41a7-a4d8-7a81c17fe749" >
		<db:my-sql-connection host="sql12.freesqldatabase.com" port="3306" user="sql12665710" password="RYJqflqfZN" database="sql12665710" />
	</db:config>
	<bti:transaction-manager doc:name="Bitronix Transaction Manager" doc:id="533ec06e-eb35-4447-b6df-553656b27bd1" />
	<flow name="123transFlow" doc:id="61ad212f-ba2c-4b7b-9d9e-0123f36b2db1" >
		<http:listener doc:name="Listener" doc:id="c52935ca-3176-4bfe-a265-4171cbd9a3f7" config-ref="HTTP_Listener_config" path="/git"/>
		<try doc:name="Try" doc:id="630fbaf9-14df-4664-b282-9cd30a47f8b3" transactionType="XA">
			<db:insert doc:name="Insert" doc:id="f6f8034f-fc51-424d-bb96-83c051b2cc03" config-ref="Database_Config">
				<db:sql ><![CDATA[insert into Employ values(:Empn,:Empid,:Emploc)
]]></db:sql>
				<db:input-parameters ><![CDATA[#[{
	'Empn' : payload.Employname,
	 'Empid' : payload.Employid,
	 'Emploc' : payload.Employloc
}]]]></db:input-parameters>
			</db:insert>
			<ee:transform doc:name="Transform Message" doc:id="5c91fb58-c302-48b4-baa4-1e478ece81fa" >
				<ee:message >
					<ee:set-payload ><![CDATA[%dw 2.0
output application/java
---
{
}]]></ee:set-payload>
				</ee:message>
			</ee:transform>
			<logger level="INFO" doc:name="Logger" doc:id="242577aa-aaef-42a4-8e3f-f542b8e82698" />
			<db:insert doc:name="Insert" doc:id="331f59f9-f3c5-46cd-9529-fb2d2634a8e4" config-ref="Database_Config1">
				<db:sql ><![CDATA[insert into Employ values(:Emp,:Empid,:Emploc)
]]></db:sql>
				<db:input-parameters ><![CDATA[#[{
	'Emp' : payload.Employname,
	 'Empid' : payload.Employid,
	 'Emploc' : payload.Employloc
}]]]></db:input-parameters>
			</db:insert>
			<ee:transform doc:name="Transform Message" doc:id="ccaf1abc-b8b7-43c4-b7ce-2d71df5226e5" >
				<ee:message >
					<ee:set-payload ><![CDATA[%dw 2.0
output application/java
---
{
}]]></ee:set-payload>
				</ee:message>
			</ee:transform>
			<logger level="INFO" doc:name="Logger" doc:id="ab06fbf8-3427-4245-b091-6ce804beb125" />
		</try>
	</flow>
</mule>
